@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Case Setup</h1>
    <h2>Patient case scenario</h2>
    <p>Here comes the list of patient case scenarios.</p>
    <ul>
        @foreach (var scenario in Model.Cases) {
            <li>@scenario.CasePatient | @scenario.Student | @scenario.Goals</li>
            <form method="get">
                <button type="submit" asp-page="/ChangeScenario">Change scenario</button>
                <button type="submit" asp-page="/ViewScenario">View scenario</button>
            </form>
        }
    </ul>
    <form method="get">
        <button type="submit" asp-page="/AddScenario">Add scenario</button>
    </form>
</div>
