@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ViewScenario</h1>
    <ul>
        <li>Blood pressure: x</li>
        <li>Age: y</li>
        <li>Sex: Male</li>
        <li>Wigth: z</li>
    </ul>
</div>
